* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

/* .banner {
  width: 100%;
  height: 400px;
  background-color: aqua;
  position: relative; */
/* background-image: url("/img/1.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center; 
  object-fit: fill; 
}

.img-banner {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 400px;
  object-fit: fill;
} */

/* .carousel-item {
  width: 700px;
  height: 400px;
} */
.carrusel {
  display: flex;
  justify-content: center;
}

.titulo-objetivos {
  text-align: center;
}

.tarjeta-objetivo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-lenguajes-general {
  width: 100%;
  height: 200px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contenedor-lenguaje {
  width: 25%;
  height: auto;
  gap: 10px;
}
.contenedor-lenguaje img {
  width: 100%;
  height: 100%;
}
.contenedor-lenguaje h5 {
  font-weight: bolder;
  text-align: center;
}

.acordeon {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.articulo-acordeon h5 {
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
}
.articulo-acordeon ul {
  list-style: none;
  text-align: center;
  font-size: small;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  background-color: aqua;
  justify-content: space-between;
  background-image: url("/img/850x450.png");
}

/*.footer-logo {
  /* display: inline-block; 
}
/* .footer-redes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-redes a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}*/

.footer-redes a img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}
.footer-contacto {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer-contacto a {
  text-decoration: none;
  color: aliceblue;
}
