* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 400px;
  background-color: aqua;
  position: relative;
  object-fit: fill;
}

.img-banner {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 400px;
  object-fit: fill;
  /* object-position: 0% 0%; */
}

/* .carousel-item {
  width: 700px;
  height: 400px;
} */
.carrusel {
  display: flex;
  justify-content: center;
}

.titulo-objetivos {
  text-align: center;
  font-weight: bolder;
}

.tarjeta-objetivo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta1 {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  margin: 1rem;
  padding: 1rem;
}
.tarjeta1 p {
  width: 200px;
  height: 200px;

  text-align: center;
}
.tarjeta1 img {
  clip-path: circle(130px at 50%);
}

.contenedor-lenguajes-general {
  width: 100%;
  height: 200px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contenedor-lenguaje {
  width: 25%;
  height: auto;
  gap: 10px;
}
.contenedor-lenguaje img {
  width: 100%;
  height: 100%;
}
.contenedor-lenguaje h5 {
  font-weight: bolder;
  text-align: center;
}

.titulo-estudios {
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
}

.acordeon {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contenedor-acordeon {
  width: 150px;
  height: 200px;
  /* position: absolute; */
}
.titulo-acordeon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.articulo-acordeon h5 {
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
}
.articulo-acordeon ul {
  list-style: none;
  /* text-align: center; */
  font-size: small;
}
.articulo-acordeon ul li {
  font-size: small;
  font-weight: 100;
  z-index: 555;
}

footer {
  width: 100%;
  height: 150px;
  background: -webkit-radial-gradient(rgb(189, 195, 200), rgb(202, 217, 232));
  background: radial-gradient(rgb(189, 195, 200), rgb(202, 217, 232));
  margin-top: 20px;
}
.copy {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
}

.footer-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.footer-redes a img {
  width: 25px;
}
.program {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
}
.program p {
  font-size: 12px;
}

.titulo-nosotros {
  margin-top: 10px;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
}

.logo-nosotros {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: 600;
}
.texto-nosotros {
  margin: 0 15px;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* .degrado-texto {
  background-image: linear-gradient(45deg, magenta, yellow);
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
} */

.contenedor-contacto {
  width: 80%;
  height: 570px;
  position: relative;
  margin: 0 auto;
}
.contenedor-contacto img {
  width: 100%;
  height: 570px;
  position: absolute;
}

.formulario-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  /* margin-top: 15px; */
  gap: 15px;
  width: 10%;
}
.formulario-contenedor input {
  opacity: 0.5;
  border: none;
  border-radius: 13px;
  padding: 10px;
  margin-top: 20px;
  background: transparent;
  border-bottom: 1px black solid;
}
.formulario-contenedor textarea {
  opacity: 0.3;
  border-radius: 13px;
  padding: 7px;
  background: transparent;
  border: none;
}

.formulario-contenedor input:hover {
  opacity: 1;
  color: black;
  font-weight: bolder;
}
.formulario-contenedor textarea:hover {
  opacity: 1;
}

.botones-contacto {
  width: fit-content;
  background: transparent;
  border: none;
  border-bottom: 0.5px solid gray;
  border-radius: 10%;

  padding: 5px;
  font-weight: 400;
}
.botones-contacto:hover {
  scale: 1.2;
  border: solid gray 1px;
  box-shadow: 1px 2px 5px grey;
}

.contenedor-watsapp a img {
  width: 8%;
  height: auto;
  margin: 10px;
  padding: 10px;
}
